    @font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../font/MYRIADPRO-REGULAR.woff') format('woff');
    }
    @font-face {
        font-family: 'Myriad Pro Light';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Light'), url('../font/MyriadPro-Light.woff') format('woff');
        }

    @font-face {
    font-family: 'Myriad Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed'), url('../font/MYRIADPRO-COND.woff') format('woff');
    }
    @font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../font/MYRIADPRO-SEMIBOLD.woff') format('woff');
    }
    @font-face {
    font-family: 'Myriad Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed'), url('../font/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('MYRIADPRO-BOLD.woff') format('woff');
    }
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KoHo', sans-serif;
}
header{
    width: 100%;
    min-height: 115vh;
    background: url('../Image/Header.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header .signup-btn .btn{
    border: 1px solid #6ebf7c;
    border-radius: 20px;
    background-color: #6ebf7c;
    padding: 8px 20px;
    font-size: 1.7rem;
    margin-top: 2.5rem;
    transition: 1.5s;
}
header .signup-btn img{
    margin-left: 8rem;
}
header .signup-btn .btn:hover, header .signup-btn .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* .nav {
    position: fixed;
    top: 0;
    
} */
.navbar1{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100vh;
    display: none;
}
.navbar1 .cancel{
    position: absolute;
    top: 5%;
    right: 10%;
    padding: 6px;
    box-shadow: 2px 2px 5px rgb(233, 215, 215);
    border-radius: 50%;
}
.navbar1 ul {
    list-style: none;
}
.navbar1 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.7rem;
    transition: .3s;
}
.navbar1 ul li a:hover {
    color: #4c8bf5;
}
.navbar1 .btn {
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    padding: 8px 20px;
    font-size: 1.7rem;
    transition: 1s;
}
.navbar1 .btn:hover, .navbar1 .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* nav section end */

/* banner section start */
header .banner-text{
    margin-top: 15rem !important;
}
header h1 {
    font-size: 4rem;
    line-height: 5rem;
}
header h1 span {
    color: #ffce43;
}
header p{
    font-size: 1.7rem;
    line-height: 2.5rem;
}
header .colored{
    font-size: 1.7rem;
    color: #6ebf7c;
}
/* two button styling */
header .call-btn{
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    padding: 8px 20px;
    font-size: 1.7rem;
    transition: 1s;
}
header .tips-btn{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    padding: 8px 20px;
    color: black;
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.7rem;
    transition: 1s;
}
header .btn:hover, header .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* **** values section start***** */
.values .icon .card{
    box-shadow: 0 0 2rem #e0e3f1;
    border: none;
    width: 90%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.values .icon .card p{
    font-weight: 700;
    font-size: 1.8rem;
}
/* ***** values section end**** */

/* *********** great tool section start************* */
.great-tool{
    background: url('../Image/bg.png') no-repeat center center;
    background-size: 100% 100%;
    clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0% 100%);
}
.great-tool .heading h2{
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 700;
}
.great-tool .heading h2 span {
     color: #6ebf7c;
 }
 .great-tool .heading p{
     font-size: 2rem;
     font-weight: 600;
 }
 .great-tool .text-left p{
     position: relative;
     font-size: 1.7rem;
 }
 .great-tool .text-left p::before{
     content: url('../Image/plane.png');
     position: absolute;
     right: 102%;
     top: 10%;
 }
 .great-tool .below-heading h3{
     font-weight: 600;
 }
 .great-tool .below-heading .call-btn{
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    padding: 8px 25px;
    font-size: 1.7rem;
    transition: 1s;
}
.great-tool .below-heading .tips-btn{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    padding: 8px 25px;
    color: black;
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.7rem;
    transition: 1s;
}
.great-tool .below-heading .btn:hover, .great-tool .below-heading .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* ********** great tool section end*********** */

/* **** functionality section start****** */
.functionality .heading h2{
    font-size: 3.2rem;
    line-height: 4.5rem;
}
.functionality .heading  .color1{
    color:#ffce43;
}
.functionality .heading  .color2{
    color: #4c8bf5;
}
.functionality .heading  .color3{
    color: #6ebf7c;
}
.functionality .body .icon{
    margin-top: 150px !important;
}
.functionality .body .icon p{
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 25px;
    margin-bottom: 30px;
    padding: 8px 10px;
    border-radius: 50px;
    width: 250px;
}
.functionality .body .icon p span{
    padding-right: 15px;
    padding-left: 8px;
}
.functionality .body .p1{
    background-color: #f0f5fe;
}
.functionality .body .p2{
    background-color: #feeded;
}
.functionality .body .p3{
    background-color: #e0f9e4;
}
.functionality .body .p4{
    background-color: #fdf7e6;
}
.functionality .body .p5{
    background-color: #f0f5fe;
}
.functionality .below-heading h3{
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 3.5rem;
}
.functionality .below-heading .call-btn{
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    padding: 8px 25px;
    font-size: 1.7rem;
    box-shadow: 1px 1px 1rem #c3cbda;
    transition: 1s;
}
.functionality .below-heading .tips-btn{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    padding: 8px 25px;
    color: black;
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.7rem;
    box-shadow: 1px 1px 1rem #c3cbda;
    transition: 1s;
}
.functionality .below-heading .btn:hover, .functionality .below-heading .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* **** functionality section end****** */

/* ****** what we do section start ******* */
.what-we-do {
    width: 100%;
    background: url('../Image/whatdobg.png') no-repeat center center;
    background-size: 100% 100%;
    clip-path: polygon(0 2%, 100% 0%, 100% 98%, 0% 100%);
}
.what-we-do .heading {
    margin-top: 5rem;
}
.what-we-do .heading h2{
    font-size: 3.2rem;
    line-height: 4.5rem;
    font-family: 'Myriad Pro Semibold';
}
.what-we-do .heading .color3{
    color: #6ebf7c;
}
.what-we-do .body h4{
    font-size: 2.5rem;
}
.what-we-do .body h4 span{
    color: #f05757;
}
.what-we-do .body p{
    font-size: 1.7rem;
}
.what-we-do .body .btn{
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    color: white;
    padding: 8px 30px;
    font-size: 1.7rem;
    box-shadow: 2px 2px 1.5rem #5a78af;
    transition: .5s;
}
.what-we-do .body .btn:hover, .what-we-do .body .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* ****** what we do section end ******* */

/* ******* getting started section start******** */
.getting-started .heading h2{
    font-size: 3.2rem;
    line-height: 4.5rem;
    font-family: 'Myriad Pro Regular';
}
.getting-started .heading h2 span{
    color: #6ebf7c;
}
.getting-started .cards{
    padding-top: 130px;
    margin-top: 1.5rem;
    background: url('../Image/plane-with-path.png') no-repeat top center;
    background-size: auto;
}
.getting-started .body .card{
    box-shadow: 0 0 2rem #e0e3f1;
    border: none;
    width: 90%;
    height: 450px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    overflow: visible;
}
.getting-started .cards .body .card h5{
    font-size: 2rem;
    font-family: 'Myriad Pro Semibold';
}
.getting-started .cards .body .card p{
    font-size: 1.7rem;
    font-family: 'Myriad Pro Light';
}
.getting-started .cards .body .card::before{
    content: '';
    position: absolute;
    top: -7%;
    left: 41%;
    font-size: 2rem;
    border-radius: 100%;
    background-color: #fff;
    width: 60px;
    padding: 15px;
    box-shadow: 0 0 2rem #e0e3f1;
    font-family: 'Myriad Pro Semibold';
}
.getting-started .cards .body .one::before{
    content: '1';
}
.getting-started .cards .body .two::before{
    content: '2';
}
.getting-started .cards .body .three::before{
    content: '3';
}

.getting-started .below-heading h3{
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 3.5rem;
}.getting-started .below-heading .call-btn{
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    padding: 8px 25px;
    font-size: 1.7rem;
    box-shadow: 1px 1px 1rem #c3cbda;
    transition: 1s;
}
.getting-started .tips-btn{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    padding: 8px 25px;
    color: black;
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.7rem;
    box-shadow: 1px 1px 1rem #c3cbda;
    transition: 1s;
}
.getting-started .below-heading .btn:hover, .getting-started .below-heading .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* ******* getting started section end******** */

/* ****** testimonial section start ******* */
.testimonial-section{
    background: url('../Image/Testimonials.png') no-repeat center;
    background-size: 100% 100%;
}
.testimonial-section .container-sp{
    width: 95vw;
    margin: 0 auto;
}
.testimonial-section .heading h2{
    font-size: 3.2rem;
    line-height: 4.5rem;
    font-weight: 700;
}
.testimonial-section .heading .color3{
    color: #6ebf7c;
}
.testimonial-section .carousel .carousel-indicators{
    bottom: -30px;
}
.testimonial-section .carousel .carousel-inner .carousel-item{
    height: 400px;
}
.testimonial-section .carousel .carousel-inner .carousel-item p{
    font-size: 1.7rem;
    line-height: 2.5rem;
}

.testimonial-section .carousel .carousel-inner .one{
    position: relative;
}
.testimonial-section .carousel .carousel-inner .carousel-item .main{
    position: absolute;
    top: 20%;
    left: 35%;
    
}
.testimonial-section .carousel .carousel-inner .one .client2{
    position: absolute;
    top: 10%;
    right: 10%;
}
.testimonial-section .carousel .carousel-inner .one .client3{
    position: absolute;
    top: 45%;
    right: 20%;
}
.testimonial-section .carousel .carousel-inner .one .client4{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.testimonial-section .carousel .carousel-inner .one .client5{
    position: absolute;
    top: 10%;
    left: 10%;
}
.testimonial-section .carousel .carousel-inner .one .client6{
    position: absolute;
    top: 45%;
    left: 20%;
}
.testimonial-section .carousel .carousel-inner .one .client7{
    position: absolute;
    bottom: 0;
    left: 10%;
}
/* one slide end */

/* second slide start */
.testimonial-section .carousel .carousel-inner .two{
    position: relative;
}
.testimonial-section .carousel .carousel-inner .two .client1{
    position: absolute;
    top: 10%;
    right: 10%;
}
.testimonial-section .carousel .carousel-inner .two .client3{
    position: absolute;
    top: 45%;
    right: 20%;
}
.testimonial-section .carousel .carousel-inner .two .client4{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.testimonial-section .carousel .carousel-inner .two .client5{
    position: absolute;
    top: 10%;
    left: 10%;
}
.testimonial-section .carousel .carousel-inner .two .client6{
    position: absolute;
    top: 45%;
    left: 20%;
}
.testimonial-section .carousel .carousel-inner .two .client7{
    position: absolute;
    bottom: 0;
    left: 10%;
}
/* slide two end */

/* slide three start */
.testimonial-section .carousel .carousel-inner .three{
    position: relative;
}
.testimonial-section .carousel .carousel-inner .three .client1{
    position: absolute;
    top: 10%;
    right: 10%;
}
.testimonial-section .carousel .carousel-inner .three .client2{
    position: absolute;
    top: 45%;
    right: 20%;
}
.testimonial-section .carousel .carousel-inner .three .client4{
    position: absolute;
    bottom: 0;
    right: 10%;
}
.testimonial-section .carousel .carousel-inner .three .client5{
    position: absolute;
    top: 10%;
    left: 10%;
}
.testimonial-section .carousel .carousel-inner .three .client6{
    position: absolute;
    top: 45%;
    left: 20%;
}
.testimonial-section .carousel .carousel-inner .three .client7{
    position: absolute;
    bottom: 0;
    left: 10%;
}
.testimonial-section .below-heading .call-btn{
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    padding: 8px 25px;
    font-size: 1.7rem;
    box-shadow: 1px 1px 1rem #c3cbda;
    transition: 1s;
}
.testimonial-section .below-heading .tips-btn{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    padding: 8px 25px;
    color: black;
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.7rem;
    box-shadow: 1px 1px 1rem #c3cbda;
    transition: 1s;
}
.testimonial-section  .below-heading .btn:hover, .testimonial-section  .below-heading .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* ******* testimonial section end ****** */

/* ******* stop wasting time section start here****** */
.stop-wasting-time  .heading h2{
    font-size: 3.2rem;
    line-height: 4.5rem;
    font-weight: 700;
}
.stop-wasting-time .heading .color3{
    color: #6ebf7c;
}
.stop-wasting-time .body p{
    font-size: 1.7rem;
}
.stop-wasting-time .below-heading .call-btn{
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    padding: 8px 25px;
    font-size: 1.7rem;
    box-shadow: 1px 1px 1rem #c3cbda;
    transition: 1s;
}
.stop-wasting-time .below-heading .tips-btn{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    padding: 8px 25px;
    color: black;
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.7rem;
    box-shadow: 1px 1px 1rem #c3cbda;
    transition: 1s;
}
.stop-wasting-time .below-heading .btn:hover, .stop-wasting-time .below-heading .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* ******* stop wasting time section end here****** */

/* ******** footer section start ******** */
footer{
    background: url('../Image/Footer-bg.png') no-repeat center center;
    background-size: cover;
    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
}
footer .heading p{
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
}
footer .below-heading .call-btn{
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    padding: 8px 25px;
    font-size: 1.7rem;
    box-shadow: 0 0 .2rem #c3cbda;
    transition: 1s;
}
footer .below-heading  .tips-btn{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    padding: 8px 25px;
    color: black;
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.7rem;
    box-shadow: 0 0 .2rem #c3cbda;
    transition: 1s;
}
footer .below-heading .btn:hover, footer .below-heading .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
footer .inner-footer ul{
    list-style: none;
}
footer .inner-footer ul .text-white{
    font-size: 1.7rem;
}
footer .inner-footer ul li{
    padding: .5rem 0;
}
footer .inner-footer ul li a{
    text-decoration: none;
    color: #7688a7;
}
footer .inner-footer .call-btn{
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    padding: 8px 25px;
    font-size: 1.7rem;
    box-shadow: 0 0 .2rem #c3cbda;
    transition: 1s;
}
footer .inner-footer .btn:hover, footer .inner-footer .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* ******** footer section end ******** */

/* modal */
.modal .modal-header{
    position: relative;
}
.modal .modal-header .close{
    position: absolute;
    top: 15px;
    right: 15px;
}
.modal .modal-header .color3{
    color: #5a78af;
}
.modal .modal-body{
    background: url('../Image/plane-with-path.png') no-repeat center center;
}
.modal .modal-body .text{
    padding: 1rem;
    padding-right: 4rem;
   display: flex;
   align-items: center;
}
.modal .modal-body .color2{
    color: #6ebf7c;
}
.modal .modal-body form {
    width: 80%;
    margin: 10px auto;
}
.modal .modal-body .form-control{
    border-color: #fb8c8c;
}
.modal .call-btn{
    border: 1px solid #4c8bf5;
    border-radius: 20px;
    background-color: #4c8bf5;
    padding: 8px 20px;
    font-size: 1.7rem;
    transition: 1s;
}
.modal .btn:hover, .modal .btn:focus{
    background-color: #6ebf7c;
    color: #fff;
    border-color: #6ebf7c;
}
/* *** modal one end*** */

/* *** modal two start ** */
#myModal2 .modal-body{
    background: url('../Image/plane-with-path2.png') no-repeat center center;
}
/* *** modal two end** */


/* 
********** media query start here *************
*/
@media (min-width: 1201px) and (max-width: 1320px){
    header .call-btn{
        font-size: 1.2rem;
    }
    header .tips-btn{
        font-size: 1.2rem;
    }
    .getting-started .body .card{
        height: 500px;
    }
}

/* ***** media query for 992 to 1200px start******* */
@media (min-width: 992px) and (max-width: 1200px){
    header .signup-btn .btn {
        border: 1pxsolid #6ebf7c;
        border-radius: 20px;
        background-color: #6ebf7c;
        padding: 4px 10px;
        font-size: 1.3rem;
        margin-top: 2.5rem;
        transition: 1.5s;
    }
    header .signup-btn img {
        margin-left: 4rem;
        margin-top: 2rem !important;
    }
    header .tips-btn {
    margin-top: 1rem;
    margin-left: 0;
    }

    /* start values */
.values {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.values .icon .card {
    width: 90%;
    height: 350px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
}

/* functionality start */
.functionality .body .icon {
    margin-top: 0 !important;
}
/* getting started start here */
.getting-started .body .card {
    height: 500px;
}
}

/* **** media query for 768px to 991px start **** */
@media (min-width: 768px) and (max-width: 991px){
    header {
        min-height: 100vh;
    }
    header .signup-btn .btn {
        display: none;
    }
    header .banner-text {
        margin-top: 0!important;
    }
    header h1 {
        font-size: 2.5rem;
        line-height: 5rem;
    }
    header p {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    header .call-btn {
        padding: 4px 15px;
        font-size: 1.5rem;
    }
    header .tips-btn {
        padding: 4px 15px;
        font-size: 1.5rem;
    }
    /* great tool start */
    .great-tool .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .functionality .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .functionality .body .icon {
    margin-top: 0!important;
    }
    .what-we-do .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .getting-started .cards .p-5{
        padding: 10px !important;
    }
    .getting-started .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .getting-started .cards {
        padding-top: 80px;
    }
    .getting-started .below-heading h3 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    /* testimonial section start */
    .testimonial-section .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item .main {
        position: relative;
        top: 0;
        left: 0;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item>img{
        display: none;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item {
        height: 325px;
    }
    .stop-wasting-time .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    /* stop wasting time start */
    .stop-wasting-time .below-heading {
        margin: 0 !important;
        padding: 0 !important;
    }
    /* footer section start */
    footer {
        clip-path: polygon(0 4%, 100% 0%, 100% 100%, 0% 100%);
    }
}

/* *******
media query 576px to 767px 
******* */
@media (min-width: 576px) and (max-width: 767px){
    .navbar1{
        width: 55%;
        height: auto;
    }
    .navbar1 img{
        width: 80% !important;
    }
    .navbar1 ul {
        margin-top: 0 !important;
    }
    header .signup-btn .btn {
        display: none;
    }
    header .banner-text {
        margin-top: 0!important;
    }
    header h1 {
        font-size: 3rem;
        line-height: 4rem;
    }
    header .tips-btn {
        margin-left: 0 !important;
        margin-top: 1rem;
        font-size: 1.7rem;
    }
    /* values section start */
    .values {
        margin: 0 !important;
        padding: 0 !important;
    }
    /* great tool section start */
    .great-tool {
        background: url(../Image/bg.png) no-repeat center center;
        background-size: 100% 100%;
        clip-path: polygon(0 .5%, 100% 0%, 100% 99%, 0% 100%) !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .great-tool .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .great-tool .below-heading .tips-btn {
        margin-top: 1rem;
    }
    /* functionality section start */
    .functionality .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .functionality .body .main-img{
        width: 60%;
        margin: 0 auto;
    }
    .functionality .body .icon {
        margin-top: 0!important;
        text-align: center;
    }
    .functionality .below-heading .tips-btn {
       margin-top: 1rem;
    }
    /* what-we-do start */
    .what-we-do {
        clip-path: polygon(0 .2%, 100% 0%, 100% 99.8%, 0% 100%);
    }
    .what-we-do .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .what-we-do .body h4 {
        font-size: 2rem;
    }
    .what-we-do .body img{
        width: 60%;
    }
    /* getting started start */
    .getting-started{
        margin: 0 !important;
        padding: 0 !important;
    }
    .getting-started .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .getting-started .cards {
        padding-top: 50px;
    }
    .getting-started .cards .body{
        padding: 0 0 50px 0 !important;
    }
    .getting-started .tips-btn {
        margin-top: 1rem;
    }
    /* testimonial start */
    .testimonial-section .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item .main {
        position: relative;
        top: 0;
        left: 0;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item>img{
        display: none;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item {
        height: 325px;
    }
    /* stop wasting time */
    .stop-wasting-time .heading h2 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .stop-wasting-time .body .text-center img{
        width: 50%;
    }
    .stop-wasting-time .below-heading .tips-btn {
     margin-top: 1rem;
    }
    .stop-wasting-time .below-heading{
        padding: 0 !important;
        margin: 0 !important;
    }
    /* footer start */
    footer {
        clip-path: polygon(0 4%, 100% 0%, 100% 100%, 0% 100%);
    }
    footer .below-heading .tips-btn {
       margin-top: 1rem;
    }
}
/* ***********
media query for 410px to 575px just for btn problem start
********** */
header .tips-btn {
    margin-top: 0 !important;
}
.great-tool .below-heading .tips-btn {
    margin-top: 0 !important;
}
.functionality .below-heading .tips-btn {
    margin-top: 0 !important;
 }
 .getting-started .tips-btn {
    margin-top: 0 !important;
}
.testimonial-section .below-heading .tips-btn {
    margin-top: 0 !important;
}
.stop-wasting-time .below-heading .tips-btn {
    margin-top: 0 !important;
   }
footer .below-heading .tips-btn {
    margin-top: 0 !important;
  }
/* ***********
media query for 410px to 575px just for btn problem end
********** */

/* *********
media query for 320px to 575px
********* */
@media (min-width: 320px) and (max-width: 575px){
    .navbar1{
        width: 55%;
        height: auto;
        z-index: 10;
    }
    .navbar1 img{
        width: 80% !important;
    }
    .navbar1 ul {
        margin-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .navbar1 ul li {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .navbar1 .btn {
        padding: 3px 12px;
        font-size: 1rem;
    }
    .navbar1 ul li a {
        font-size: 1rem;
    }
    .navbar1 .fa-2x {
        font-size: 1rem;
    }
    header .signup-btn .btn {
        display: none;
    }
    header .banner-text {
        margin-top: 0!important;
    }
    header h1 {
        font-size: 1.7rem;
        line-height: 2rem;
    }
    header p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    header .tips-btn {
        margin-left: 0 !important;
        margin-top: 1rem;
    }
    header .btn{
        padding: 3px 12px;
        font-size: 1rem;
    }
    header .signup-btn img {
        margin-left: 0;
        width: 25px;
    }
    
    /* values start */
    .values {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
    .values .icon {
        padding-bottom: 0 !important;
        padding-top: 15px !important;
    }
    .values .icon .card {
        width: 50%;
    }
    .values .icon .card img {
        width: 60px !important;
    }
    .values .icon .card p {
        font-weight: 600;
        font-size: 1.3rem;
    }
    /* great tool start */
    .great-tool {
        background: url(../Image/bg.png) no-repeat center center;
        background-size: 100% 100%;
        clip-path: polygon(0 .0001%, 100% 0%, 100% 99.9%, 0% 100%) !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .great-tool .heading {
        padding-top: 0 !important;
    }
    .great-tool .heading h2 {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .great-tool .text-left p {
        font-size: 1rem;
    }
    .great-tool .below-heading .mb-5{
        margin-bottom: 0 !important;
    }
    .great-tool .below-heading h3 {
        font-weight: 600;
        font-size: 1.7rem;
    }
    .great-tool .below-heading .btn{
        padding: 3px 12px;
        font-size: 1rem;
    }
    .great-tool .below-heading .tips-btn {
        margin-top: 1rem;
        margin-left: 0 !important;
    }
    .great-tool .text-left{
        padding-left: 40px !important;
    }
    /* functionality start */
    .functionality {
        margin: 0 !important;
        padding: 0 !important;
    }
    .functionality .heading h2 {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .functionality .body {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
    .functionality .body .main-img{
        width: 60%;
        margin: 0 auto;
    }
    .functionality .body .icon {
        margin-top: 0!important;
        text-align: center;
    }
    .functionality .below-heading h3 {
        font-weight: 700;
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .functionality .body .icon p {
        font-size: 1.3rem;
        font-weight: 600;
        margin-right: 0px;
        margin-bottom: 30px;
        padding: 8px 10px;
        border-radius: 50px;
        width: 220px;
    }
    .functionality .below-heading .btn{
        padding: 3px 12px;
        font-size: 1rem;
    }
    .functionality .below-heading .tips-btn {
       margin-top: 1rem;
       margin-left: 0 !important;
    }
    /* what we do start */
    .what-we-do {
        padding: 0 !important;
        clip-path: polygon(0 .111%, 100% 0%, 100% 99.999%, 0% 100%);
    }
    .what-we-do .heading h2 {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .what-we-do .body{
        margin: 0 !important;
        padding: 0 !important;
    }
    .what-we-do .body h4 {
        font-size: 1.5rem;
    }
    .what-we-do .body p {
        font-size: 1rem;
    }
    .what-we-do .body img{
        width: 60%;
    }
    .what-we-do .body .btn {
        padding: 3px 12px;
        font-size: 1rem;
    }
    /* getting started start */
    .getting-started{
        margin: 0 !important;
        padding: 0 !important;
    }
    .getting-started .heading h2 {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .getting-started .cards {
        padding-top: 50px;
    }
    .getting-started .cards .body{
        padding: 0 0 50px 0 !important;
    }
    .getting-started .cards .body .card::before {
        content: '';
        position: absolute;
        top: -7%;
        left: 35%;
        font-size: 1rem;
        border-radius: 100%;
        background-color: #fff;
        width: 47px;
        padding: 15px;
    }
    .getting-started .cards .body .one::before{
        content: '1';
    }
    .getting-started .cards .body .two::before{
        content: '2';
    }
    .getting-started .cards .body .three::before{
        content: '3';
    }
    .getting-started .cards .body .card img{
        width: 36px !important;
        margin-top: 0 !important;
    }
    .getting-started .cards .body .card h5 {
        font-size: 1.3rem;
    }
    .getting-started .cards .body .card p {
        font-size: 1.2rem;
    }
    .getting-started .tips-btn {
        margin-top: 1rem;
    }
    .getting-started .below-heading .mb-5{
        margin-bottom: 0 !important;
    }
    .getting-started .below-heading h3 {
        font-size: 1.7rem;
        line-height: 2.5rem;
        margin: 0 auto !important;
    }
    .getting-started .tips-btn {
        margin-left: 0 !important;
    }
    .getting-started .below-heading .btn {
        padding: 3px 12px;
        font-size: 1rem;
    }
    .getting-started .body .card {
        width: 50%;
        height: auto !important;
    }
    /* testimonial start */
    .testimonial-section .heading h2 {
        font-size: 1.7rem;
        line-height: 2.5rem;
        word-wrap: break-word !important;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item .main {
        position: relative;
        top: 0;
        left: 0;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item>img{
        display: none;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item {
        height: 325px;
        width: 100%;
    }
    .testimonial-section .carousel .carousel-inner .carousel-item .main img{
        width: 140px !important;
    }
    .testimonial-section .below-heading{
        margin-bottom: 0 !important;
        padding-right: 0 !important;
        width: 100%;
    }
    .testimonial-section .below-heading .tips-btn {
        margin-top: 1rem;
        margin-left: 0 !important;
    }
    .testimonial-section .below-heading .btn{
        padding: 3px 12px;
        font-size: 1.2rem;
    }
    /* stop wasting time start */
    .stop-wasting-time .heading h2 {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .stop-wasting-time .body .text-center img{
        width: 50%;
    }
    .stop-wasting-time .body p {
        font-size: 1.1rem;
    }
    .stop-wasting-time .below-heading .tips-btn {
     margin-top: 1rem;
     margin-left: 0 !important;
    }
    .stop-wasting-time .below-heading .btn{
        padding: 3px 12px;
        font-size: 1.2rem;
    }
    .stop-wasting-time .below-heading{
        padding: 0 !important;
        margin: 0 !important;
    }
    /* footer start */
    footer {
        clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 100%);
    }
    footer .img-fluid {
        max-width: 75%;
        height: auto;
    }
    footer .heading p {
        font-size: 1.2rem;
    }
    footer .below-heading .tips-btn {
      margin-top: 1rem;
    }
    footer .below-heading .btn{
        padding: 3px 12px;
        font-size: 1.2rem;
    }
    footer .inner-footer .call-btn {
        padding: 3px 12px;
        font-size: 1.2rem;
    }
    footer .inner-footer ul .text-white {
        font-size: 1.5rem;
    }
    footer .inner-footer ul li a {
        font-size: 1.1rem;
    }
    /* modal start here */
    .modal{
        width: 70%;
        margin: auto;
    }
    .modal h4{
        font-size: 1.5rem;
    }
    .modal .modal-body .text{
        padding: 0 !important;
    }
    .modal .modal-body .text p{
        font-size: 1rem;
    }
    .modal .modal-body .form {
        padding: 1rem!important;
        width: 100% !important;
    }
    .modal .modal-body .form .form-group label{
        font-size: 1.1rem !important;
    }
    .modal .below-heading .btn{
        padding: 3px 12px;
        font-size: 1rem
    }
    .modal .below-heading p{
        font-size: 1.1rem;
    }
    #myModal2 .below-heading .btn{
        padding: 3px 12px;
        font-size: 1rem
    }
    #myModal2 .modal-body .form .form-group label{
        font-size: 1.1rem !important;
    }
}